    * {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: white;
}

body {
    font: normal 18px/22px 'Oswald', sans-serif;
    background-color: #1C1F20;
    color: #1C1F20;
}

h1, h2 {
    font-family: "Signika", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
}

h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: -20px;
}

h3 {
    color: #95CAE8;
    font-size: 26px;
}

p {
    margin: 20px 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.fixed-nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.content {
    position: relative;
    background: #464646 url("http://i.imgur.com/v5A67m1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-top: 40px;
    padding-bottom: 7%;
}

.description, .some-related-articles {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.description {
    padding-top: 100px;
    min-height: 300px;
    text-align: left;
}

#name {
    color: black;
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: RGBA(255, 255, 255, .80);
    line-height: 1.2;
    padding-left: 1%;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

#colphon {
  background-color: #000000;
  color: white;
  height: 80px;
  width:100%;
  text-align: center;
  padding-top: 2%;
  font-family: 'Oswald', sans-serif;
  color: #E0E0E0;
  font-size: 12px;

}
.icon {
    font-size: 30px;
}

#about p {
    line-height: 1.7;
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.summary {
    color: black;
    margin-top: 40px;
    margin-bottom: 4px;
    background-color: RGBA(255, 255, 255, .80);
    font-size: 34px;
    line-height: 1.2;
    padding-left: 1%;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

.full {
    width: 68%;
    length: auto;
    margin-left: 200px;
    padding-top: 30px;
    box-shadow: 0 .1em 1em #111;
}

#about {
    color: white;
    margin: 60px;
    text-align: center;
    border: 2px solid white;
    padding: 50px 20px 80px 20px;
}

#about h3 {
    padding: 2%;
}

#label {
    text-align: center;
}

#info {
    color: white;
    margin: 60px;
    text-align: center;
    border: 2px solid white;
    padding: 80px 20px 80px 20px;
    font-size: 16px;
}

#info h4:hover, #info a:hover {
    color: #1D9D74;
}

#top {
    padding-top: 0px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: black;
}

.fixed-nav-bar li, .fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}

.menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
}

.menu a:hover, .menu a:target {
    color: #1D9D74;
}

.menu-items {
    display: inline-block;
}

.sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    color: #95CAE8;
}

#name {
    font-family: 'Oswald', sans-serif;
    color: #1C1F20;
}

#portfolio {
    padding-left: 4.7%;
    margin-left: auto;
    margin-right: auto;
}

.chocolat-image :hover {
    opacity: .8;
}

.gridf, .grid, .gridl {
    width: 24%;
    min-height: 100px;
    float: left;
    margin: 2px 0;
}

.grid {
    margin: 2px 1%;
}

a.sitename, a:visited.sitename {
    color: #e0e0e0;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-items a {
    text-decoration: none;
}

.show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
}

@media only screen and (max-width: 800px) {
    .menu {
        position: relative;
        width: 100%;
    }
    .sitename {
        position: absolute;
        top: 0;
        left: 15px;
        margin-left: 0px;
    }
    .menu-items {
        display: none;
        width: 100%;
        margin-top: 50px;
        background-color: #1C1F20;
    }
    .menu-items li {
        display: block;
        text-align: center;
    }
    .show, .hide {
        position: absolute;
        top: 0;
        right: 15px;
    }
    .show {
        display: inline-block;
    }
    .hide {
        display: none;
    }
    #menu:target .show {
        display: none;
    }
    #menu:target .hide, #menu:target .menu-items {
        display: inline-block;
    }
}

@media only screen and (max-width: 428px) {
    .sitename, .show, .hide {
        font-size: 14px;
    }
    #info {
        font-size: 14px;
        margin: 4%;
    }
    #portfolio {
        padding-left: 0;
        padding-right: 4.7%;
        width: 100%;
    }
    #about {
        padding: 40px 20px 40px 20px;
        margin: 4%;
    }
    #about p {
        max-width: 100%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
    img {
        width: 100%;
    }
    #portfolio img {
        padding-right: 4.7%;
    }
    .content {
        background: #464646 url("http://i.imgur.com/vAPmLAD.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
