* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: white;
}

body {
    font: normal 18px/22px 'Oswald', sans-serif;
    background-color: #1C1F20;
    color: #1C1F20;
}

h1, h2 {
    font-family: "Signika", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
}

h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: -20px;
}

h3 {
    color: #95CAE8;
}

p {
    margin: 20px 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.fixed-nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.content {
    position: relative;
    background: #464646 url("http://i.imgur.com/v5A67m1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.description, .some-related-articles {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.description {
    padding-top: 100px;
    min-height: 300px;
    text-align: left;
}

#name {
    color: white;
    font-size: 44px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: white;
}

.summary {
    color: #black;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: white;
    font-size: 30px;
    line-height: 30px;
}

.button, .button:visited, .button-dark {
    display: inline-block;
    max-width: 200px;
    margin: 50px 10px 30px 10px;
    padding: 10px;
    font-family: "Signika", sans-serif;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.1s ease;
}

.button-dark, .button-dark:visited {
    margin: 20px 10px 30px 0;
    color: #464646;
    border-color: #464646;
}

.button:hover, .button-dark:hover {
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-dark:hover {
    color: #ffffff;
    background-color: rgba(70, 70, 70, 0.9);
}

.full {
    width: 68%;
    length: auto;
    margin-left: 200px;
    padding-top: 30px;
    box-shadow: 0 .1em 1em #111;
}

#about {
    color: white;
    margin: 60px;
    text-align: center;
    border: 2px solid white;
    padding: 50px 20px 80px 20px;
}

#label {
    text-align: center;
}

#info {
    color: white;
    margin: 60px;
    text-align: center;
    border: 2px solid white;
    padding: 80px 20px 80px 20px;
    font-size: 16px;
}

#top {
    padding-top: 0px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: black;
}

.content {
    margin-top: 20px;
}

.fixed-nav-bar li, .fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}

.menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
}

.menu a:hover, .menu a:target {
    color: #ebebeb;
}

.menu-items {
    display: inline-block;
}

.sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    color: #95CAE8;
}

#name {
    font-family: 'Oswald', sans-serif;
    color: #1C1F20;
}

#portfolio {
    padding-left: 4.7%;
    margin-left: auto;
    margin-right: auto;
}

.chocolat-image :hover {
    opacity: .8;
}

.gridf, .grid, .gridl {
    width: 24%;
    min-height: 100px;
    float: left;
    margin: 2px 0;
}

.grid {
    margin: 2px 1%;
}

a.sitename, a:visited.sitename {
    color: #e0e0e0;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-items a {
    text-decoration: none;
}

.show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
}

@media only screen and (max-width: 800px) {
    .menu {
        position: relative;
        width: 100%;
    }
    .sitename {
        position: absolute;
        top: 0;
        left: 15px;
        margin-left: 0px;
    }
    .menu-items {
        display: none;
        width: 100%;
        margin-top: 50px;
        background-color: #1C1F20;
    }
    .menu-items li {
        display: block;
        text-align: center;
    }
    .show, .hide {
        position: absolute;
        top: 0;
        right: 15px;
    }
    .show {
        display: inline-block;
    }
    .hide {
        display: none;
    }
    #menu:target .show {
        display: none;
    }
    #menu:target .hide, #menu:target .menu-items {
        display: inline-block;
    }
}

@media only screen and (max-width: 220px) {
    .sitename, .show, .hide {
        font-size: 14px;
    }
    #info {
        font-size: 8px;
    }
    #portfolio {
        padding-left: 0%;
        padding-right: 4.7%;
        width: 100%;
    }
    #portfolio img {
        width: 100%;
        padding-right: 4.7%;
    }

    .content {
      background: #464646 url("http://i.imgur.com/3mLSy4z.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

}
